dataclasses
filelock~=3.9.0
numpy~=1.23.5
tqdm~=4.64.1
packaging~=22.0
transformers~=4.26.1
huggingface_hub~=0.12.0
requests~=2.28.1
importlib_metadata~=4.11.3
regex~=2022.7.9
tokenizers~=0.11.4
datasets~=2.9.0
pandas~=1.2.5
pyyaml
attrs~=22.1.0
python-dateutil~=2.8.2
setuptools~=65.6.3
rouge_score~=0.1.2
absl-py~=1.4.0
nltk~=3.8.1
sacremoses